/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    font-family: var(--main-font);
    background-image: var(--page-bg-image);
    background-color: var(--page-bg-color);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.title-main {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    line-height: 83%;
    color: var(--title-main-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}

.title-main_shadow-big {
    text-shadow: 4px 4px 0 var(--accent-color);
}

.title-section {
    color: var(--title-section-color);
    font-size: 18px;
    font-weight: bold;
    line-height: 130%;
    padding-bottom: 20px;
}

.header {
    height: 100vh;
    min-height: 668px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 var(--main-padding);
    position: relative;
}

.header__theme-menu {
    padding-top: 75px;
    justify-self: end;
}

.header__theme-menu-item {
    padding-bottom: 10px;
}

.header__theme-menu-button {
    min-width: 70px;
    height: 26px;
    color: var(--header-menu);
    background-color: transparent;
    text-transform: lowercase;
    border: 0;
    font-size: 18px;
    line-height: 18px;
}

.header__theme-menu-button_active {
    border: 1px solid var(--header-menu);
    pointer-events: none;
}

.header__theme-menu-button:hover {
    cursor: pointer;
    border: 1px solid var(--header-menu-hover);
}

.header__theme-menu-button:focus-within {
    outline: none;
    border-bottom: 1px solid currentColor;
}

.header__description {
    padding-top: 40px;
}

.header__slogan {
    align-self: center;
}

.header__rec {
    position: absolute;
    top: var(--main-padding);
    right: 20px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--accent-color);
    display: var(--icon-rec);
}

.header__rec::after {
    content: " ";
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2px;
}

.title-decor {
    color: var(--main-text-color);
    background-color: var(--accent-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
}

.title-decor_light {
    font-weight: 400;
}

.block-corners::before,
.block-corners::after {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
}

.block-corners::before {
    border-top: 1px solid var(--header-corner-color);
    border-right: 1px solid var(--header-corner-color);
    top: var(--main-padding);
    right: var(--main-padding);
}

.block-corners::after {
    border-bottom: 1px solid var(--header-corner-color);
    border-left: 1px solid var(--header-corner-color);
    bottom: var(--main-padding);
    left: var(--main-padding);
}

.main {
    padding: 40px var(--main-padding);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.articles__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.articles__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.articles__item-text {
    font-size: 18px;
    line-height: 130%;
    color: var(--article-text-color);
}

.gallery__header {
    margin-bottom: 10px;
}

.gallery__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery__img {
    width: 100%;
    display: block;
}

.footer {
    height: 100vh;
    min-height: 667px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 10px;
}

@media (min-width: 768px) {
    :root {
        --main-padding: 20px;
    }

    .title-main {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header,
    .footer {
        min-height: 1024px;
    }

    .header__theme-menu {
        padding-top: 191px;
    }

    .header__rec {
        right: 30px;
    }

    .header__slogan {
        margin-left: -20px;
    }

    .header__description {
        width: 50%;
        justify-self: right;
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .main {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 80px;
    }

    .articles.what-reduces {
        display: block;
    }

    .articles.what-reduces .title-section {
        width: calc(33.3% - 20px / 3);
    }

    .gallery__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 192px 230px 318px;
        gap: 20px;
        margin-top: 20px;
    }

    .gallery__img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .gallery__sunset {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gallery__ice-cream {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery__tape {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .gallery__street {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media (min-width: 1024px) {
    .header,
    .footer {
        min-height: 768px;
    }

    .header__theme-menu {
        padding-top: 20px;
        justify-self: center;
    }

    .header__theme-menu-list {
        display: flex;
        gap: 10px;
    }

    .header__description {
        padding-top: 50px;
    }

    .articles {
        grid-template-columns: repeat(3, 1fr);
    }

    .articles__list {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .articles.what-reduces .title-section {
        width: calc(33.3% - 40px / 3);
    }

    .articles.what-reduces .articles__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery__list {
        grid-template-rows: 260px 315px 433px;
    }
}