/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --main-font: "IBM Plex mono", monospace;
    --main-padding: 10px;

    --icon-rec: block;

    --page-bg-image: url("../images/cover-image-dark.png");
    --page-bg-color:  #000028;

    --title-main-color: #DB00FF;
    --title-section-color: #FF0070;

    --header-menu: #FF0070;
    --header-menu-hover: rgba(255, 0, 112, 0.4);
    --header-corner-color: #FF0070;

    --main-text-color: #000028;
    --accent-color: #FF0070;
    --article-text-color: #F1B2CE;
}
